.DS_Store
.cursorindexingignore
.idea
.specstory
node_modules

# Build outputs
/app/dist
/socket/dist
/common/dist

# Logs
/socket/logs/*.log

# Environment files
.env
.env.local
.env.production

/api/**/*.DS_Store
/api/**/*.cursorindexingignore
/api/**/*.idea
/api/**/*.specstory

/app/**/*.DS_Store
/app/**/*.cursorindexingignore
/app/**/*.idea
/app/**/*.specstory

/common/**/*.DS_Store
/common/**/*.cursorindexingignore
/common/**/*.idea
/common/**/*.specstory