.DS_Store
.cursorindexingignore
.idea
.specstory
node_modules


/api/**/*.DS_Store
/api/**/*.cursorindexingignore
/api/**/*.idea
/api/**/*.specstory

/app/**/*.DS_Store
/app/**/*.cursorindexingignore
/app/**/*.idea
/app/**/*.specstory

/common/**/*.DS_Store
/common/**/*.cursorindexingignore
/common/**/*.idea
/common/**/*.specstory