[phases.setup]
nixPkgs = ['nodejs-18_x']

[phases.install]
cmds = [
  'cd ../common && npm install && npm run build',
  'cd ../socket && npm install'
]

[phases.build]
cmds = ['npm run build']

[start]
cmd = 'npm run start:prod'

